* {
    padding: 0;
    margin: 0;
}

.contenedor {
    display: flex;
    gap: 1rem;
}

.seccion {
    margin: 1rem;
}

.seccion1 {
    display: flex;
    position: sticky;
    top: 0px;
    background-color: rgb(75, 71, 71);
    flex-grow: 1;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
}

.item {
    background-color: white;
    margin: 0.8rem;
    padding: 1rem;
    border-radius: 0.8rem;
    justify-content: space-around;
}

.seccion2 {
    display: flex;
    flex-direction: column;
    background-color: rgb(53, 41, 41);
    color: white;
    flex-grow: 5;
    margin: 1rem;
    border-radius: 0.8rem;
}

.parrafo {
    margin: 1.5rem;
}

.parrafo3 {
    width: 40%;
    align-self: flex-end;
}

.seccion2 h1 {
    text-align: center;
}

@media (max-width: 500px) {
    .contenedor {
        flex-direction: column-reverse;        
    }
    
    .seccion1 {
        flex-direction: row;
        height: min-content;
        width: 100%;
        margin-bottom: 0;
        position: sticky;
        bottom: 0px;
    }
    
}
